body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgba(26, 20, 20, 0.968);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width:90%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-inline: auto;
    border:2px solid whitesmoke;
    padding-bottom: 15px;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:70%;
    height:auto;
    font-size: 20px;
}
input,select{
    padding:15px;
    font-size: medium;
}
button{
    width:100%;
    margin-block: 15px;
    padding:10px;
    font-size: 20px;
    font-weight: bold;
}
section{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: flex-start;
    margin-inline: auto;
}
section h2{
    font-size: 40px;
    margin: 10px 0 20px;
}
article{
    width:80%;
    display:flex;
    flex-direction: column;
    gap:5px;
    padding:10px;
    border:1px solid whitesmoke;
    padding-bottom: 0;
}
article h2{
    font-size: medium;
}
.author{
    color:gray;
    font-style:italic;
}

.timestamp{
    color:whitesmoke;
}
.reactionButton{
    margin:0.5em 0.5em 0 0;
    padding:0;
    width:auto;
    background: transparent;
    border:0;
    color:whitesmoke;
   font-size: 1rem;
}
